%h1 Zdjęcia do akceptacji

%p
  Oczekujących: 
  %b

%table
  %tr
    %th Miniaturka
    %th Tytuł
    %th Album
    %th Użytkownik

  -for photo in @photos
    %tr{:id => photo.dom_id}
      %td= image_tag photo_path(photo, :png)
      %td=h photo.title
      %td=#h photo.album.title
      %td=h photo.user_id
      
      %td= link_to_remote 'Akceptuj', :url => {:controller => "accept_photo"}, :with => "'id='+#{photo.id.to_s}", :method => :get
      %td= link_to 'Odrzuć', photo_path(photo), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
      %td= link_to 'Pokaż', photo_path(photo)
      %td= link_to 'Edytuj', edit_photo_path(photo)

= link_to 'Dodaj zdjęcie', new_photo_path
