%h1 Dodaj album

= error_messages_for :album 

- form_for(@album) do |f| 
  %p
    %b Rodzic
    %br
    = f.text_field :parent_id 
  %p
    %b Nazwa
    %br
    = f.text_field :title 
  %p
    %b Opis
    %br
    = f.text_area :description 

  %p
    = f.submit "Stwórz"
    
= link_to 'lista albumów', albums_path 