%h1 New album

= error_messages_for :album 

- form_for(@album) do |f| 
  %p
    %b Parent
    %br
    = f.text_field :parent_id 
  %p
    %b Title
    %br
    = f.text_field :title 
  %p
    %b Description
    %br
    = f.text_area :description 

  %p
    = f.submit "Create"
    
= link_to 'Back', albums_path 