= javascript_include_tag "swfupload.js"
= javascript_include_tag "swfupload.queue.js"
= javascript_include_tag "fileprogress.js"
= javascript_include_tag "handlers.js"  
= javascript_include_tag "new_photo.js"  

%h1 Dodaj zdjęcie

= error_messages_for :photo

- form_for @photo, :html => { :multipart => true } do |f|
  %p
    %b Title
    %br
    = f.text_field :title
  %p
    %b Album
    %br
    = f.select :album_id, @albums.collect { |c| [c.title, c.id] }
  %p
    %b User
    %br
    = f.text_field :user_id
  %p
    %b Upload
    %br
    = f.file_field :image_file
    %br
    or URL:
    = f.text_field :image_file_url
  %div{:class => "fieldset flash", :id => "fsUploadProgress"}
    %span{:class => "legend"}
      Kolejka plików
  %div{:id => "divStatus"}
    0 plików wgranych
  %div
    %span{:id => "spanButtonPlaceHolder"}
    %input{:id => "btnCancel", :type => "button", :value => "Zatrzymaj wgrywanie", :onclick => "swfu.cancelQueue();", :disabled => "disabled"}
  %p
    = f.submit "Create"

= link_to 'Back', photos_path
