%h1 Login

= error_messages_for :user_session 

- form_for(@user_session) do |f| 
  %p
    %b Username
    %br
    = f.text_field :username 
  %p
    %b Password
    %br
    = f.password_field :password 
  %p
    %b OpenID
    %br
    = f.text_field :openid_identifier
  %p
    = f.submit "Zaloguj"
 